.blog-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
  }
  
  .blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .blog-card-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 8px;
  }
  
  .blog-card-content {
    flex: 1;
  }
  
  .blog-card-content h2 {
    margin: 0 0 8px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .blog-card-content p {
    margin: 4px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .blog-card-content .blog-card-username {
    font-size: 0.9rem;
    color: #888;
  }
  
  .blog-card-content .blog-card-time {
    font-size: 0.8rem;
    color: #aaa;
  }
  
  .blog-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Add spacing between icons */
    margin-bottom: 10px;
  }
  
  .icon {
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #007bff; /* Change color on hover */
  }
  
  h2 {
    margin: 10px 0;
  }
  
  p {
    margin: 5px 0;
  }
  